<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_task"
        android:label="Task Management"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskManagement"
        tools:targetApi="31">
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".LoginByEmailActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTaskActivity"
            android:exported="false" />
        <activity
            android:name=".AddPerProActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".TaskActivity"
            android:exported="false" />
        <activity
            android:name=".PerProActivity"
            android:exported="false" />
        <activity
            android:name=".JointProActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateDeleteJointProActivity"
            android:exported="false" />
        <activity
            android:name=".JointTaskActivity"
            android:exported="false" />
        <activity
            android:name=".AddJointProActivity"
            android:exported="false" />
        <activity
            android:name=".AddJointTaskActivity"
            android:exported="false" />
        <activity
            android:name=".Main0Activity"
            android:exported="false" />
        <activity android:name=".DestinationActivity" />
        <activity android:name="com.example.tttn2023.UpdateDeletePerProActivity" />

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>